include ../../form-wrap/form-wrap.pug

mixin card-log-in()

  .card-log-in
    +form-wrap({title: "Войти", marginBottom: "20"})

      +text-field({placeholder: "Email"})
      +text-field({placeholder: "Пароль"})

      +btn({title: "Войти", varBtn: "fill", id: "cards-0", maxWidthBtn: "320", isClickable: true, marginTop: "20", marginBottom: "30"})

      .card-log-in__flex-wrap-log-in
        p Нет аккаунта на Toxin?
        +btn({title: "Создать", varBtn: "border", id: "cards-1"})