mixin apply-btn-for-dropdown(options)
  -
    var title = options.title || "Наименование"
    var value = options.value || false
  
  .apply-btn-for-dropdown
    .apply-btn-for-dropdown__clear Очистить
    .apply-btn-for-dropdown__apply Применить