@font-face {
  font-family: 'ExoSoft';
  src: url('../assets/fonts/ExoSoft-Medium.eot');
  src: url('../assets/fonts/ExoSoft-Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/ExoSoft-Medium.woff2') format('woff2'),
      url('../assets/fonts/ExoSoft-Medium.woff') format('woff'),
      url('../assets/fonts/ExoSoft-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}