mixin btn(options)
  //- -
  //-   var buttonClassName = "button"
  //-   buttonClassName += options.isBlue ? " button-blue" : ""
  //- button(class = buttonClassName)= options.title || "Button"

  -
    var btnClassName = "btn"
    var deactive = options.deactive ? " btn_deactive" : ""
    var title = options.title

  case options.varBtn
    when "fill"
      - btnClassName += " btn-fill"
    when "border"
      - btnClassName += " btn-border"
    when "minimalism"
      - btnClassName += " btn-minimalism"

  case options.maxWidthBtn
    when "320"
      - btnClassName += " btn_max-width-320"
    when "200"
      - btnClassName += " btn_max-width-200"
  
  case options.minWidthBtn
    when "250"
      - btnClassName += " btn_min-width-250"

  -
    btnClassName += deactive

  div(class = btnClassName)
    div(class = "btn__bg")
    div(class = "btn__title")= title
    if options.isClickable
      <i class="btn__icon material-icons">arrow_forward</i>

    