mixin section-pages(options)
  -
    var className = options.className ? options.className : ''
  
  section(class=className).section-pages
    p.section-pages__title= options.title
    .section-pages__logo
    .section-pages__content
      block