.checkbox-list
  max-width: 32rem

  &__header
    @include isFlex($justify: space-between)
    padding-bottom: 1.1rem

  &__icon
    width: 4.4rem
    color: $color-dark-shade-50
    line-height: 1.5rem
