include ../checkbox-btn/checkbox-btn.pug


mixin checkbox-list(options)
  -
    var title = options.title || "expandable checkbox list"
    var description = options.description || "Завтрак"


  .checkbox-list
    .checkbox-list__header
      h3.checkbox-list__title= title
      <i class="checkbox-list__icon material-icons">expand_more</i>

    .checkbox-list__content
      +checkbox-btn({id: "checkbox-btn-1"})
      +checkbox-btn({id: "checkbox-btn-2", checked: true})
      +checkbox-btn({id: "checkbox-btn-3", checked: false, description: "Описание"})

      