mixin form-element-title(options)
  -
    var title = options.title || 'Text Field'
    var state = options.state || ''             //- "hover/focus"
    var width = options.width ? 'form-element-title__flex-titles_width-sm' : ''   //- "sm"

  .form-element-title
    div(class=`form-element-title__flex-titles ${width}`)
      h3= title
      p.form-element-title__state= state
    block