/* src\pages\_cards.sass */

.content-cards
  background-color: #f4f4f6
  padding-top: 14rem

.grid-container-cards
  // display: grid
  // // grid-template-columns: 38rem 38rem 32rem
  // grid-template-rows: auto auto
  // grid-gap: 4rem
  // grid-auto-flow: column
  // max-width: max-content
  // margin: 0 auto
  // transition: 1s all linear

  display: flex
  flex-flow: column wrap
  max-height: 1060px
  max-width: 1160px
  margin: 0 auto

  // заливка ячеек в шхматном порядке
  // .cell:nth-child(even)
  //   background-color: #e4e4e4
  // .cell:nth-child(odd)
  //   background-color: #efefef