/* src\pages\_colors_type.sass */

.color-template
  display: flex
  align-items: center

  &__box
    width: 70px
    height: 70px
    border-radius: 6px
    margin: 10px 40px 10px

    &_color-dark-shade-100
      background-color: $color-dark-shade-100
    &_color-dark-shade-75
      background-color: $color-dark-shade-75
    &_color-dark-shade-50
      background-color: $color-dark-shade-50
    &_color-dark-shade-25
      background-color: $color-dark-shade-25
    &_color-dark-shade-5
      background-color: $color-dark-shade-5
    &_color-purple
      background-color: $color-purple
    &_color-green
      background-color: $color-green
 

  // &__description
  //   h2
  //   p
.typography-template
  &__wrap
    padding: 2.5rem
    display: flex
  &__tag
    margin-right: 3rem
    min-width: 4.5rem
    text-align: right
    &_fz-24
      font-size: 24px
    &_fz-19
      font-size: 19px
    &_fz-12
      font-size: 12px
    &_fz-14
      font-size: 14px
    &_color-dark-shade-25
      color: $color-dark-shade-25



