/* src/pages/_colors_type.sass */

.page-color-typography

  .content-colors-type
    display: flex
    justify-content: space-around
    padding-top: 13.5rem
    padding-bottom: 13.5rem

  .wrap-color-template
    padding-right: 11.75rem

  .wrap-typography-template
    padding-right: 3.1rem



  .typography-template

    &__item
      padding-top: .95rem
      padding-bottom: 4.05rem
      display: flex
      max-width: 42rem
      vertical-align: top

      &_padding-top
        padding-top: 0.6rem

    &__tag
      margin-right: 3rem
      min-width: 4.5rem
      display: flex
      align-items: flex-start
      justify-content: flex-end

      &_fz-24
        font-size: 24px
      &_fz-19
        font-size: 19px
      &_fz-12
        font-size: 12px
      &_fz-14
        font-size: 14px
      &_color-dark-shade-25
        color: $color-dark-shade-25
