/* src\pages\_form_elements.sass */

.content-form-elements
  padding-top: 14.4rem
  padding-bottom: 13.1rem
  padding-left: 14.1rem

.grid-container-form-elements
  display: grid
  grid: auto auto auto / repeat(3, minmax(auto, 320px))
  grid-column-gap: 20px
  max-width: 1200px
  // .cell:nth-child(even)
  //   background-color: #e4e4e4
  // .cell:nth-child(odd)
  //   background-color: #efefef

.grid-row-2
  padding-top: 8rem

.grid-row-3
  padding-top: 5.44rem

.container-flex
  max-width: 32rem
  display: flex
  justify-content: space-between
  flex-wrap: wrap