/* src\pages\_form_elements.sass */

.content-form-elements
  padding-top: 14.4rem
  padding-bottom: 13.1rem
  padding-left: 14.1rem

  .text-field-or-dropdown
    max-width: 32rem
    position: relative
    
    &__input-or-btn
      background: #FFFFFF
      box-sizing: border-box
      border: 1px solid $color-dark-shade-25
      border-radius: 4px
      padding: 1.3rem 1.5rem
      width: 100%
      font-size: 14px
      font-family: $Montserrat
      color: $color-dark-shade-75
      &:focus
        border: 1px solid red
      &::-webkit-input-placeholder
        color: $color-dark-shade-25
      &::-moz-placeholder
        color: $color-dark-shade-25
      &_hover-focus
        border: 1px solid $color-dark-shade-50
        &::-webkit-input-placeholder
          color: $color-dark-shade-75
        &::-moz-placeholder
          color: $color-dark-shade-75
      &_isClickable
        cursor: pointer
        text-align-last: left
    &__dropdown-content
      display: none
      positon: absolute
    &:hover .text-field-or-dropdown__dropdown-content
        display: block
    &__link
      display: block


.grid-container-form-elements
  display: grid
  grid: auto auto auto / 320px 320px 320px 
  grid-column-gap: 20px
  background-color: #eee
  max-width: 1200px
  .cell
    background-color: #ddd


