//- cards
include ../components/cards/card-reg/card-reg.pug
include ../components/cards/card-search/card-search.pug
include ../components/cards/card-number-hotel/card-number-hotel.pug
include ../components/cards/card-log-in/card-log-in.pug
include ../components/cards/card-preview/card-preview.pug
include ../components/cards/card-calendar/card-calendar.pug


+section-pages({className: "page-cards", title: 'Cards'})
  .content-cards
    .flex-container-cards

      +card-search()
      
      +card-reg({id_num: "21"})

      +card-number-hotel({})

      +card-log-in()

      +card-calendar({title: "Календарь"})
                    
      +card-preview({title: "Карточка отеля"})

