//- include ../components/section-pages/section-pages.pug
include ../components/form-wrap/form-wrap.pug
include ../components/card-preview/card-preview.pug
include ../components/calendar-card/calendar-card.pug
//- include ../components/text-field/text-field.pug
include ../components/cards/card-registration/card-registration.pug
include ../components/cards/card-search/card-search.pug
include ../components/cards/card-number-hotel/card-number-hotel.pug
include ../components/cards/card-log-in/card-log-in.pug

+section-pages('Cards')
  .content-cards
    .flex-container-cards

      +card-search()
      
      +card-registration()

      +card-number-hotel()

      +card-log-in()

      +calendar-card({title: "Календарь"})
                    
      +card-preview({title: "Карточка отеля"})

