mixin color-template(options)
  -
    var title = options.title || "Name color"
    var colorHex = options.color || "HEX #..."
    var boxClassName = "color-template__box"
    boxClassName += ` color-template__box_${options.colorBox}`|| ""
    
  .color-template
    div(class = boxClassName)
    .color-template__description
      h2= title
      p= colorHex

section.section
  h3 Colors & Type
  .wrap.colorsType
    p jljj;ljklkj


  +color-template({title: "Dark Shade 100%",  color: "#1F2041", colorBox: "color-dark-shade-100"})
  +color-template({title: "Dark Shade 75%", color: "#1F2041", colorBox: "color-dark-shade-75"})
  +color-template({title: "Dark Shade 50%", color: "#1F2041", colorBox: "color-dark-shade-50"})
  +color-template({title: "Dark Shade 25%", color: "#1F2041", colorBox: "color-dark-shade-25"})
  +color-template({title: "Dark Shade 5%", color: "#1F2041", colorBox: "color-dark-shade-5"})
  +color-template({title: "Purple", color: "#BC9CFF", colorBox: "color-purple"})
  +color-template({title: "Green", color: "#6FCF97", colorBox: "color-green"})

