include ../components/section-pages/section-pages.pug
include ../components/form-element/form-element.pug
include ../components/text-field/text-field.pug
include ../components/dropdown/dropdown.pug
include ../components/dropdown/option-for-dropdown/option-for-dropdown.pug
include ../components/dropdown/apply-btn-for-dropdown/apply-btn-for-dropdown.pug
include ../components/expandable-checkbox-list/expandable-checkbox-list.pug

include ../components/checkbox-btn/checkbox-btn.pug
include ../components/radio-btn/radio-btn.pug
include ../components/toggle-btn/toggle-btn.pug
include ../components/like-btn/like-btn.pug
include ../components/rate-btn/rate-btn.pug


+section-pages("Form Elements")
  .content-form-elements

    














    br
    br
    hr
    hr
    br
    p для тестов
    br
    hr
    hr
    br
    br
    
    .grid-container-form-elements
      .cell
        +form-element({title: "Text field", state: "default"})
          +text-field({placeholder: "Email", autofocus: false})
        
        +form-element({title: "Text field", state: "hover-focus"})
          //- +text-field({value: "This is pretty awesome", autofocus: true})
          +text-field({value: "This is pretty awesome"})

        +form-element({title: "dropdown", state: "default"})
          +dropdown({id: "dropdown-how-many-guests", text: "Сколько гостей"})
            +option-for-dropdown({title: "Взрослые"})
            +option-for-dropdown({title: "Дети"})
            +option-for-dropdown({title: "Младенцы"})
            +apply-btn-for-dropdown({})
        
        +form-element({title: "Masked text field", state: "default"})
          +text-field({})

        .container-flex

          +form-element({title: "date dropdown", width: "xs"})
            +dropdown({id: "dropdown-date-1", width: "xs"})
              +option-for-dropdown({})
              a(href="https://schoolsw3.com/howto/howto_js_dropdown.php") schoolsw3.com
              a(href="#") Link 2
              a(href="#") Link 3
          
          +form-element({title: "date dropdown", width: "xs"})
            +dropdown({id: "dropdown-date-2", width: "xs"})
              a(href="https://schoolsw3.com/howto/howto_js_dropdown.php") schoolsw3.com
              a(href="#") Link 2
              a(href="#") Link 3

        +form-element({title: "filter date dropdown", width: "sm", paddingTop: "40"})
          +dropdown({id: "dropdown-filter", width: "sm"})
            a(href="https://schoolsw3.com/howto/howto_js_dropdown.php") schoolsw3.com
            a(href="#") Link 2
            a(href="#") Link 3
        
        +form-element({title: "subscription text field", width: "sm", paddingTop: "40"})
          +text-field({placeholder: "Email", autofocus: false, width: "sm", isClickable: true})
      
      .cell

        +form-element({title: "Checkbox Buttons", paddingBottom: "11"})
          +checkbox-btn({id: "checkbox-btn-1", title: "Можно курить"})
          +checkbox-btn({id: "checkbox-btn-2", title: "Можно с питомцами", checked: true})
          +checkbox-btn({id: "checkbox-btn-3", title: "Можно пригласить гостей (до 10 человек)", checked: true})
        
        +form-element({title: "Radio Buttons", paddingBottom: "11", paddingTop: "40"})
          +radio-btn({name: "sex", id: "radio-btn-men", title: "Мужчина", checked: true})
          +radio-btn({name: "sex", id: "radio-btn-women", title: "Женщина"})
        
        +form-element({title: "Toggle Buttons", paddingBottom: "11", paddingTop: "40"})
          +toggle-btn({id: "toggle-btn-1", title: "Получать спецпредложения", checked: true})
          +toggle-btn({id: "toggle-btn-2", title: "Получать спецпредложения"})
        
        +form-element({title: "Like Buttons", paddingBottom: "11", paddingTop: "40"})
          +like-btn({id: "like-btn-1", title: "2"})
          +like-btn({id: "like-btn-2", title: "12", checked: true})
        
        +form-element({title: "Rate button", paddingBottom: "11", paddingTop: "40"})
          +rate-btn({name: "rate-btn-0", id: "rate-btn-0"})
          +rate-btn({name: "rate-btn-1", id: "rate-btn-1", rating: "5/5"})

          
      .cell

        +form-element({title: "Range Slider"})
      
      .cell.grid-row-2

        +form-element({title: "dropdown", state: "default", width: "sm"})
          +dropdown({id: "dropdown-how-many-guests-4-1", text: "2 спальни, 2 кровати...", width: "sm"})
            +option-for-dropdown({title: "Спальни"})
            +option-for-dropdown({title: "Кровати"})
            +option-for-dropdown({title: "Ванные комнаты"})

        +form-element({title: "dropdown", state: "expanded", width: "sm"})
          +dropdown({id: "dropdown-how-many-guests-4-2", text: "2 спальни, 2 кровати...", width: "sm", show: true, noAbsolute: true})
            +option-for-dropdown({title: "Спальни"})
            +option-for-dropdown({title: "Кровати"})
            +option-for-dropdown({title: "Ванные комнаты"})

      .cell.grid-row-2

        +form-element({title: "dropdown"})
          +dropdown({id: "dropdown-how-many-guests-5", text: "Сколько гостей", show: true})
            +option-for-dropdown({title: "Взрослые"})
            +option-for-dropdown({title: "Дети"})
            +option-for-dropdown({title: "Младенцы"})
            +apply-btn-for-dropdown({})

      .cell.grid-row-2

        +form-element({title: "dropdown"})
          +dropdown({id: "dropdown-how-many-guests-6", text: "3 гостя", show: true})
            +option-for-dropdown({title: "Взрослые"})
            +option-for-dropdown({title: "Дети"})
            +option-for-dropdown({title: "Младенцы"})
            +apply-btn-for-dropdown({})

      .cell.grid-row-3
        
        +form-element({width: "sm"})
          +checkbox-list({})
            +checkbox-btn({id: "checkbox-list-item-1", title: "Завтрак"})
            +checkbox-btn({id: "checkbox-list-item-2", title: "Письменный стол", checked: true})
            +checkbox-btn({id: "checkbox-list-item-3", title: "Стул для кормления", checked: true})
            +checkbox-btn({id: "checkbox-list-item-4", title: "Кроватка", checked: true})
            +checkbox-btn({id: "checkbox-list-item-5", title: "Телевизор"})
            +checkbox-btn({id: "checkbox-list-item-6", title: "Шампунь"})
                 
        +form-element({width: "sm"})
          +checkbox-list({})
            +checkbox-btn({id: "checkbox-list-item-21", title: "Завтрак"})
            +checkbox-btn({id: "checkbox-list-item-22", title: "Письменный стол", checked: true})
            +checkbox-btn({id: "checkbox-list-item-23", title: "Стул для кормления", checked: true})
            +checkbox-btn({id: "checkbox-list-item-24", title: "Кроватка", checked: true})
            +checkbox-btn({id: "checkbox-list-item-25", title: "Телевизор"})
            +checkbox-btn({id: "checkbox-list-item-26", title: "Шампунь"})

      .cell.grid-row-3
      
        +form-element({title: "rich Checkbox Buttons", paddingBottom: "11"})
          +checkbox-btn({id: "rich-checkbox-1", title: "Широкий коридор", description: "Ширина коридоров в номере не менее 91 см."})
          +checkbox-btn({id: "rich-checkbox-2", title: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист  и проводит до номера."})

      .cell.grid-row-3

        +form-element({title: "bullet list"})

      .cell 10
      .cell 11
      .cell 12


    
    
    
    

    
    



    br
    br
    hr
    hr
    br
    p для тестов
    br
    hr
    hr
    br
    br
    


    

    