include ../components/section-pages/section-pages.pug
include ../components/form-element/form-element.pug
include ../components/text-field/text-field.pug
include ../components/dropdown/dropdown.pug
include ../components/buttons/checkbox-btn/checkbox-btn.pug
include ../components/bullet-list-point/bullet-list-point.pug

//- buttons
include ../components/buttons/checkbox-btn/checkbox-btn.pug
include ../components/buttons/radio-btn/radio-btn.pug
include ../components/buttons/toggle-btn/toggle-btn.pug
include ../components/buttons/like-btn/like-btn.pug
include ../components/buttons/rate-btn/rate-btn.pug
include ../components/buttons/btn/btn.pug

include ../components/range-slider/range-slider.pug


+section-pages({className: "page-form-elements", title: "Form Elements"})
  .page-form-elements-content
    .page-form-elements-grid-container
      
      .cell.cell-1
        +form-element({title: "Text field", state: "default"})
          +text-field({placeholder: "Email", autofocus: false})
        
        +form-element({title: "Text field", state: "hover/focus"})
          //- +text-field({value: "This is pretty awesome", autofocus: true})
          +text-field({value: "This is pretty awesome"})

        +form-element({title: "dropdown", state: "default"})
          +dropdown({title: "Сколько гостей", notSaved: "2", typeDrop: "guests"})
            +option-for-dropdown({title: "Взрослые"})
            +option-for-dropdown({title: "Дети"})
            +option-for-dropdown({title: "Младенцы"})
        
        +form-element({className: "form-elements__masked-text-field", title: "Masked text field", state: "default"})
          +text-field({})

        .cntr-flex-between-center-wrap

          +form-element({title: "date dropdown", width: "xs", marginRight: "5"})
            +dropdown({maxWidth: "xs", title: "ДД.ММ.ГГГГ"})
              +option-for-dropdown({})
              a(href="https://schoolsw3.com/howto/howto_js_dropdown.php") schoolsw3.com
              a(href="#") Link 2
              a(href="#") Link 3
          
          +form-element({title: "date dropdown", width: "xs"})
            +dropdown({maxWidth: "xs", title: "19.08.2019"})
              a(href="https://schoolsw3.com/howto/howto_js_dropdown.php") schoolsw3.com
              a(href="#") Link 2
              a(href="#") Link 3

        +form-element({className: "form-elements__filter-date-dropdown", title: "filter date dropdown", width: "sm"})
          +dropdown({maxWidth: "sm", title: "19 авг - 23 авг"})
            a(href="https://schoolsw3.com/howto/howto_js_dropdown.php") schoolsw3.com
            a(href="#") Link 2
            a(href="#") Link 3
        
        +form-element({className: "form-elements__subscription-date-dropdown", title: "subscription text field", width: "sm"})
          +text-field({placeholder: "Email", autofocus: false, width: "sm", isClickable: true})
      
      .cell.cell-2.cell-empty
        //- p 2
      .cell.cell-3

        +form-element({className: "form-elements__checkbox-btns", title: "Checkbox Buttons"})
          +checkbox-btn({id: "checkbox-btn-1", title: "Можно курить"})
          +checkbox-btn({id: "checkbox-btn-2", title: "Можно с питомцами", checked: true})
          +checkbox-btn({id: "checkbox-btn-3", title: "Можно пригласить гостей <br> (до 10 человек)", checked: true})
        
        +form-element({className: "form-elements__radio-btns", title: "Radio Buttons"})
          +radio-btn({name: "sex", id: "radio-btn-men", title: "Мужчина", checked: true})
          +radio-btn({name: "sex", id: "radio-btn-women", title: "Женщина", marginLeft: "20"})
        
        +form-element({className: "form-elements__toggles", title: "Toggle"})
          +toggle-btn({className: "form-elements__toggle-first", id: "toggle-btn-1", title: "Получать спецпредложения", checked: true})
          +toggle-btn({id: "toggle-btn-2", title: "Получать спецпредложения"})
        
        +form-element({className: "form-elements__like-btns", title: "Like Button", paddingTop: "40"})
          +like-btn({className: "form-elements__like-btn-first", title: "2"})
          +like-btn({title: "12", checked: true})
        
        +form-element({className: "form-elements__rate-btns", title: "Rate button", paddingTop: "40"})
          +rate-btn({className: "form-elements__rate-btn-first", name: "rate-btn-0", id: "rate-btn-0"})
          +rate-btn({name: "rate-btn-1", id: "rate-btn-1", rating: "5/5"})

        +form-element({title: "select", paddingTop: "20"})
          #select
          
      .cell.cell-4.cell-empty
        //- p 4
      .cell.cell-5
        //- p 5

        +form-element({title: "Range Slider", width: "sm", paddingBottomTitle: "16"})
          +range-btn({name: "range-slider-0", id: "range-slider-0"})
        
        +form-element({className: "form-elements__btns", title: "Buttons"})

          .cntr-flex-between-center-wrap
            +btn({title: "click me", varBtn: "fill", marginBottom: "30"})
            +btn({title: "click me", varBtn: "fill", marginBottom: "30", deactive: true})
            +btn({title: "click me", varBtn: "border"})
            +btn({title: "click me", varBtn: "border", deactive: true})
          
          +btn({title: "click me", varBtn: "minimalism"})
          +btn({title: "click me", varBtn: "minimalism", deactive: true})

          +btn({title: "перейти к оплате", varBtn: "fill", minWidthBtn: "250", maxWidthBtn: "320", isClickable: true})

      .cell.cell-6
        //- p 6

        +form-element({title: "dropdown", state: "default", width: "sm"})
          +dropdown({title: "2 спальни, 2 кровати", maxWidth: "sm", typeDrop: "room-amenities"})
            +option-for-dropdown({title: "Спальни", defaultValue: "2"})
            +option-for-dropdown({title: "Кровати", defaultValue: "2"})
            +option-for-dropdown({title: "Ванные комнаты"})

        +form-element({title: "dropdown", state: "expanded", width: "sm"})
          +dropdown({title: "2 спальни, 2 кровати", maxWidth: "sm", showAlways: true, noAbsolute: true, typeDrop: "room-amenities"})
            +option-for-dropdown({title: "Спальни", defaultValue: "2"})
            +option-for-dropdown({title: "Кровати", defaultValue: "2"})
            +option-for-dropdown({title: "Ванные комнаты"})

      .cell.cell-7.cell-empty
        //- p 7
      .cell.cell-8
        //- p 8

        +form-element({title: "dropdown"})
          +dropdown({title: "Сколько гостей", showAlways: true, noAbsolute: true, minWidth: "sm", notSaved: "1", typeDrop: "guests"})
            +option-for-dropdown({title: "Взрослые"})
            +option-for-dropdown({title: "Дети"})
            +option-for-dropdown({title: "Младенцы"})

      .cell.cell-9.cell-empty
        //- p 9
      .cell.cell-10
        //- p 10

        +form-element({title: "dropdown"})
          +dropdown({title: "3 гостя", showAlways: true, noAbsolute: true, minWidth: "sm", notSaved: "2", typeDrop: "guests"})
            +option-for-dropdown({title: "Взрослые", defaultValue: "2"})
            +option-for-dropdown({title: "Дети", defaultValue: "1"})
            +option-for-dropdown({title: "Младенцы"})

      .cell.cell-11
        //- p 11
        
        +form-element({title: "expandable checkbox list", width: "sm", className: "checkbox-list", collapse: true, tagBlock: "ul", contentHide: true, paddingBottomTitle: "12"})
          +checkbox-btn({tag: "li", id: "checkbox-list-item-1", title: "Завтрак"})
          +checkbox-btn({tag: "li", id: "checkbox-list-item-2", title: "Письменный стол", checked: true})
          +checkbox-btn({tag: "li", id: "checkbox-list-item-3", title: "Стул для кормления", checked: true})
          +checkbox-btn({tag: "li", id: "checkbox-list-item-4", title: "Кроватка", checked: true})
          +checkbox-btn({tag: "li", id: "checkbox-list-item-5", title: "Телевизор"})
          +checkbox-btn({tag: "li", id: "checkbox-list-item-6", title: "Шампунь"})
                 
        +form-element({title: "expandable checkbox list", width: "sm", className: "checkbox-list", collapse: true, tagBlock: "ul", paddingBottomTitle: "12"})
          +checkbox-btn({tag: "li", id: "checkbox-list-item-21", title: "Завтрак"})
          +checkbox-btn({tag: "li", id: "checkbox-list-item-22", title: "Письменный стол", checked: true})
          +checkbox-btn({tag: "li", id: "checkbox-list-item-23", title: "Стул для кормления", checked: true})
          +checkbox-btn({tag: "li", id: "checkbox-list-item-24", title: "Кроватка", checked: true})
          +checkbox-btn({tag: "li", id: "checkbox-list-item-25", title: "Телевизор"})
          +checkbox-btn({tag: "li", id: "checkbox-list-item-26", title: "Шампунь"})

      .cell.cell-12.cell-empty
        //- p 12
      .cell.cell-13
        //- p 13
      
        +form-element({title: "rich Checkbox Buttons", paddingBottomTitle: "11", width: "sm"})
          +checkbox-btn({id: "rich-checkbox-1", title: "Широкий коридор", description: "Ширина коридоров в номере <br> не менее 91 см."})
          +checkbox-btn({id: "rich-checkbox-2", title: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист <br> и проводит до номера."})

      .cell.cell-14.cell-empty
        //- p 14
      .cell.cell-15
        //- p 15

        +form-element({title: "Bullet list", className: "bullet-list", width: "sm", tagBlock: "ul", paddingBottomTitle: "13"})
          +bullet-list-point({title: "Нельзя с питомцами"})
          +bullet-list-point({title: "Без вечеринок и мероприятий"})
          +bullet-list-point({title: "Время прибытия — после 13:00, <br> а выезд до 12:00"})

      .cell.cell-16
        //- p 16

      .cell.cell-17.cell-empty
        //- p 17
      .cell.cell-18
        //- p 18

      .cell.cell-19.cell-empty
        //- p 19
      .cell.cell-20
        //- p 20
