/* src\styles\utils\_colors.scss  */

$lightseagreen: #29c59c;
$darkslategray: #1f273e;

$blue: #009cf0;
$red: #ff6163;
$grey: #f7f7f7;
$grey-text: #a1a1a1;
$grey-text-number: gray;
$grey-border: #adadad;
