.typography-template
  .typography-template__item
    p.typography-template__tag.typography-template__tag_fz-24.typography-template__tag_color-dark-shade-25 H1 
    h1.typography-template__exemple This one is the sub-section or widget title
  .typography-template__item
    p.typography-template__tag.typography-template__tag_fz-19.typography-template__tag_color-dark-shade-25 H2
    h2.typography-template__exemple Next one is the item title inside widgets
  .typography-template__item
    p.typography-template__tag.typography-template__tag_fz-12.typography-template__tag_color-dark-shade-25 H3
    h3.typography-template__exemple This is a label or CTA text
  .typography-template__item.typography-template__item_padding-top
    p.typography-template__tag.typography-template__tag_fz-14.typography-template__tag_color-dark-shade-25.line-height-large Body
    p.typography-template__exemple.typography-template__tag_color-dark-shade-75.line-height-large This is the body text which is used for most <br> of the design, like paragraphs, lists, etc.