  
/* src\styles\mixins\_mixins.scss */

@mixin isFlex($align: center, $justify: center, $direction: row, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
  }
  
  @mixin bgImage($url, $repeat: no-repeat, $position: center, $size: initial) {
    background-image: url($url);
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
  }
  
  @mixin container($width: 1440, $margin: auto, $padding: 0) {
    max-width: $width + px;
    margin: $margin;
    padding: $padding;
  }
  
  @mixin link($color: $blue, $weight: 400, $fontSize: 14, $hoverColor: $red) {
    color: $color;
    transition: .2s;
    font-weight: $weight;
    font-size: $fontSize + px;
  
    &:hover {
      color: $hoverColor;
    }
  
  }