mixin like-btn(options)
  -
    var className = options.className ? options.className : ''
    var title = options.title || "label for like"
    var isChecked = options.checked || false          // checked: true
    className += options.checked ? " like-btn_active" : ""
    //- var id = options.id || false        


  div(class=className).like-btn
    if isChecked
      <i class="like-btn__icon material-icons">favorite</i>
    else
      <i class="like-btn__icon material-icons">favorite_border</i>
    span.like-btn__title= title


      